  /* ------author css------ */
  .author-thumbnail{
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

    .author-list-thumbnail{
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .author-list-radius{
    border-radius: 5px;
    
  }
    .author-timeline-body{
    width : 80% ; /* IE8以下とAndroid4.3以下用フォールバック */
    width: -webkit-calc(100%  - 60px);
    width : calc(100%  - 60px) ;
  }

  
  .timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 0px;
    background: transparent;
    left: 0px;
    border: 0px solid #eee;
    margin: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  /* ------author css------ */
  
  
  
  
  
  
  
  