html,
body,
#container,
.pusher,
#content {
	height: 100%;
	overflow: hidden;
	color:#000;
}
body{
	background:#36393B;
}
#content{
	overflow:scroll;
	background: #FFF;
	padding-bottom:30px;
}

/**
  *
  *  sidemenu(style effect) css
  *
  **/

.sidemenu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	visibility:hidden;
	width: 300px;
	height: 100%;
	background: #45484B;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#sidemenu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#sidemenu li{
	display: inline;
	padding: 0;
}
#sidemenu li a{
	display: block;
	background-color: #45484B;
	padding: 17px 10px;
	text-decoration: none;
	color: #fff;
	width: auto;
	margin: 0px 0px;
	text-align: left;
	font-size: 15px;
}
#sidemenu li a:hover{
	background-color: #4B4E51;
}

.menu-bottom{
	position: absolute;
	top:auto;
	width:100%;
	bottom:0;
}

.logo{
	width:100%;
	min-width:200px;
	max-width:300px;
}

#trigger{
	margin-top:15px;
}

.pusher {
	position: relative;
	margin-left: -15px;
	margin-right: -15px;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.4);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.2s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.2s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.menu-open .pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.scalein.container-fluid {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.scalein .pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.scalein.menu-open .pusher {
	-webkit-transform: translate3d(0, 0, -600px) rotateY(20deg);
	transform: translate3d(0, 0, -600px) rotateY(20deg);
}

.scalein.sidemenu {
	opacity: 1;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.scalein.menu-open .scalein.sidemenu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.scalein.sidemenu::after {
	display: none;
}
/*			sidemenu(style effect)css			*/



/**
  *
  *  topmenu(style) css
  *
  **/

#navbar-top{
	padding-left: 30px;
	padding-right: 30px;
}
#filter-top{
	padding-left: 30px;
	padding-right: 30px;
}


#menu-logo object{
	margin-left:7px;
	margin-top:4px;
	width:41px;
	height:41px;
	opacity:0.5;
	-webkit-transition: all 0.5s;
}

#menu-logo object:hover{
	opacity: 1;
}

#filter-side>ul{
	padding-left:15px;
	font-size:1.2em;
}
#filter-top{
	padding-top:15px;
	padding-bottom: 10px;
	padding-left:15px;
	font-size:1.5em;
	box-shadow: 0px 1px 3px 2px;
}

/*			sidemenu(style effect)css			*/